data/
.vscode/
.ipynb_checkpoints/
*__pycache__
*.csv
*.pt

play_ground/**
!play_ground/Assignment3/
!play_ground/Assignment3/*.ipynb
!play_ground/Assignment3/*.py

*.washington_resoruce/
*.stanfordnlp_resources/
openie/

MyFiD/checkpoint
MyFiD/log
dataset_level_1.json
dataset_explicit.json
dataset_significant.json
*.json
*.pickle
GraphWriter
test.tsv
tools/layers.py